---
import MainLayout from '../layouts/main.astro';
import '../site-components/global.css';
---

<MainLayout>
  <div id="root"></div>
</MainLayout>

<script>
  import { createRoot } from 'react-dom/client';
  import React from 'react';
  import { DevLinkProvider } from '../site-components/DevLinkProvider';
  import { GuestbookForm } from '../site-components/GuestbookForm';

  const container = document.getElementById('root');
  if (container) {
    createRoot(container).render(
      React.createElement(DevLinkProvider, null,
        React.createElement(GuestbookForm, {
          guestbookCollectionIdCollectionIdVariable: '69383a09bbf502930bf620a3'
        })
      )
    );
  }
</script>
